body {
    margin: 0;
    background-color: #043277;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4em;
}

header {
    background-color: #043277;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav li {
    list-style: none;
    display: flex;
    gap: 30px;
}

header a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: #8cc2ff;
}

.banner {
    text-align: center;
    background: linear-gradient(145deg, #49545f, #000000);
    padding: 30px 30px;
}

img {
    width: 180px;
    height: 180px;
}

.cards {
    padding: 40px 40px;
    text-align: center;
}

.card {
    background-color: #161a22;
    border-radius: 10px;
    width: 300px;
    display: inline-block;
    margin: 20px 20px auto;
    padding: 50px;
    vertical-align: top;
}

.card:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000000aa;
    text-align: center;
    padding: 15px;
}

a {
    text-decoration: none;
    color: black
}